.ao3-progress-bookmark {
  font-family: sans-serif;
  font-size: 17px;
  user-select: none;
}

body {
  margin: 0;
  color: #333;
}

.ao3-progress-bookmark,
.ao3-progress-bookmark--popup {
  p,
  h1,
  h2, 
  h3,
  h4 {
    margin: 0;
    font-weight: normal;
  }

  button,
  a {
    &:focus-visible { box-shadow: 0 0 2px 2px #51a7e8; }
  }

  input {
    &:focus-visible { box-shadow: inset 0 0 2px 1px #51a7e8; }
  }

  input {
    outline: none;
    font-size: 12px;
    line-height: 1;
    border: none;

    &:focus {
      outline: none;
      border: none;
    }
  }

  button {
    position: relative;
    padding: 0;
    border: none;
    border-radius: 0;
    outline: none;
    background-color: transparent;

    &:focus { outline: none; }
  }

  .ao3pb-btn-child {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(#FFF, 0.1);
      opacity: 0;
      pointer-events: none;
    }
  }

  a {
    color: $link_blue;
    text-decoration: none;
    border-bottom: 1px dashed $link_blue;
    cursor: pointer;

    &:hover { border-bottom: 1px solid $link_blue; }
    
    &:focus { outline: none; }
    &.ao3pb-a-button {
      position: relative;
      outline: none;
      border-bottom: none;

      &:hover,
      &:focus,
      &:visited {
        outline: none;
        border-bottom: none;
        color: #333;
      }

      &:active::before,
      &:active .ao3pb-btn-child::before {
        opacity: 1;
      }

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(#FFF, 0.1);
        opacity: 0;
        pointer-events: none;
      }
    }
  }

  // .ao3pb-style-scrollbar {
  //   overflow-y: auto;

  //   &::-webkit-scrollbar { width: 15px; }

  //   &::-webkit-scrollbar-track { background-color: transparent; }

  //   &::-webkit-scrollbar-thumb {
  //     background-color: #bbb;
  //     border-radius: 17px;
  //     border: 6px solid transparent;
  //     background-clip: content-box;

  //     &:hover { background-color: #999;}
  //   }
  // }
}


@keyframes bookmarkHighlight {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0.7;
    transform: scale(1.3);
  }
}

@keyframes bookmarkScale {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    transform: scale(1.6);
    opacity: 1;
  }
}
