$ao3_red: #900;

$bar_color: #999;
$bar_darken_color: #444;

$bm_filter_bar_color: #ececec;

$bm_blue: #3caaaa;
$green: #12d64c;
$red: #fe4141;

$link_blue: #166fce;

body {
  margin: 0;
  color: #333;
}

p,
h1,
h2, 
h3,
h4 {
  margin: 0;
  font-weight: normal;
}

a {
  color: $link_blue;
  text-decoration: none;
  border-bottom: 1px dashed $link_blue;
  cursor: pointer;

  &:hover { border-bottom: 1px solid $link_blue; }
}

.ipb-style-scrollbar {
  overflow-y: auto;

  &::-webkit-scrollbar { width: 15px; }

  &::-webkit-scrollbar-track { background-color: transparent; }

  &::-webkit-scrollbar-thumb {
    background-color: #bbb;
    border-radius: 17px;
    border: 6px solid transparent;
    background-clip: content-box;

    &:hover { background-color: #999;}
  }
}
